.output {
    float: left;
}

.chart {
    width: 260px;
    height: 200px;
}

.endnote {
    clear: both;
    font-size: 75%;
}

.description {
    color: grey;
    font-style: italic;
}

.stats {
    display: flex;
    flex-wrap: wrap;
}

.attack_stats,
.defense_stats {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid grey;
}

label {
    display: inline-block;
    width: 120px;
}

.attack_modifier,
.defense_modifier {
    margin-left: 20px;
}

.chart_text {
    margin-left: 30px;
}